@font-face {
  font-family: Belfast-md;
  src: url(Utils/Fonts/Belfast\ Grotesk\ Medium.ttf);
}
@font-face {
  font-family: Belfast-rg;
  src: url(Utils/Fonts/Belfast\ Grotesk\ Regular.ttfMedium.ttf);
}
@font-face {
  font-family: Belfast-sb;
  src: url(Utils/Fonts/Belfast\ Grotesk\ Semi\ Bold.ttf);
}
@font-face {
  font-family: Mona-sans-md;
  src: url(Utils/Fonts/Mona-Sans-Medium.ttf);
}
@font-face {
  font-family: Mona-sans-sb;
  src: url(Utils/Fonts/Mona-Sans-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  z-index: 10;
}

/* page1 started */
.page1 {
  height: 115vh;
  position: relative;
  overflow: hidden;
  background: url("./Assets/Images/spots.png"),
    url("./Assets/Images/Noise\ &\ Texture.png"),
    radial-gradient(#3d2f2d 0%, #101010 66%);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  animation: zoomEffect 100s linear infinite;
  margin: 0;
  padding: 0;
}

@keyframes zoomEffect {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 120% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

/* header start */
nav {
  z-index: 5;
}

header {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  z-index: 3;
}

/* logo */
#sparkLogo {
  border: none;
  background: none;
  cursor: pointer;
}

#sparkLogo img {
  height: 4.5rem;
}

/* notes btn */
#notes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #b2b2b2;
  z-index: 2;
  font-family: Belfast-md;
  font-size: 1rem;
  padding: 1rem 1.1rem;
  border-radius: 0.75rem;
  border: 1px solid #4a4a4a;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(2px);
  overflow: hidden;
}

#notes::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  transition: 0.2s ease;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

#notes:hover::after {
  height: 100%;
  opacity: 0.6;
}

#notes:hover {
  cursor: pointer;
}

#notes p {
  font-size: 1rem;
}

#notes span {
  display: flex;
  margin-top: 4px;
  align-content: center;
  justify-content: center;
}

#notes img {
  height: 1rem;
}

/* nav tabs */
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 2;
  border-radius: 0.75rem;
  border: 1px solid #4a4a4a;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  padding: 1rem 1.5rem;
}

header ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

header ul li a {
  text-decoration: none;
  font-family: Belfast-md;
  font-size: 1rem;
  color: #b2b2b2;
  letter-spacing: 1px;
  z-index: 5;
  font-weight: 400;
  transition: ease-in-out 100ms;
}

header ul li a:hover {
  color: #f16d47;
}
/* header end */

/* main start */
main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 2rem 2rem;
  padding: 2rem;
  animation: breathing 100s ease-in infinite normal;
  box-sizing: border-box;
}
#course {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 95vw;
  z-index: 5;
  align-self: flex-start;
  justify-content: center;
  font-family: sans-serif;
}

.upper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#course ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.25rem;
}
#course .upper ul li::marker,
#course .upper p {
  animation: headingAnimation ease-in 5s infinite alternate;
}

#course .lower ul li::marker,
#course .lower p {
  animation: headingAnimation ease-in 5s infinite alternate;
}

#course .upper span {
  font-size: 14px;
  color: #919191;
}

#course .lower span {
  font-size: 14px;
  color: #919191;
}

@keyframes headingAnimation {
  0% {
    color: white;
  }
  100% {
    color: #f16d47;
  }
}

#upperList {
  gap: 45vw;
  margin-bottom: 8rem;
}

#lowerList {
  gap: 85vw;
}

#course ul span {
  font-family: Belfast-md;
  font-size: 1rem;
  color: #ffffff;
}

#course ul span br {
  font-family: Belfast-md;
  font-size: 0.9rem;
  color: #b4bbb8;
}

/* landing page start */
.landingPageSpark {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  margin-top: 14rem;
  padding: auto;
}

.landingPageSpark h1 {
  font-size: 3.5vw;
  text-align: center;
  word-spacing: 0.7rem;
}

.landingPageSpark p {
  text-align: center;
  font-family: Belfast-md;
  font-size: 1.25rem;
  color: #b2b2b2;
}

/* osswebsite redirect btn */
#oss {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  background-color: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
  color: #b2b2b2;
  outline: none;
  border: 1px solid #b2b2b2;
  z-index: 10;
  font-family: Belfast-md;
  font-size: 1rem;
}

#oss:hover {
  cursor: pointer;
}

.ri-arrow-right-line {
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* heading */
.ossWord {
  font-family: Belfast-md;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background: linear-gradient(180deg, #ffffff 0%, #7f7b7a 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* get started btn */
#getStarted {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #df7841 0%, #894724 100%);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin: 2rem;
  font-family: Belfast-md;
  font-size: 1rem;
  border: none;
  transition: 0.5s;
  z-index: 10;
}

#getStarted:hover {
  cursor: pointer;
  background-position: right center;
}

/* planet bg */
#circularPlanet {
  position: absolute;
  z-index: 1;
  align-self: baseline;
  justify-self: center;
  margin-top: 6rem;
}

#circularPlanet img {
  width: 130vw;
}

/* breatihng animation */
@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  50% {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
/* page1 end */

/* page2 started */
.page2 {
  min-height: 100vh;
  width: 100%;
  background: #101010;
}
/* page2 end */

/* page3 started */
.page3 {
  min-height: 100vh;
  width: 100%;
  background: #101010;
  position: relative;
  overflow: hidden;
}

.page3 .page3-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* complete slider bar */
.slider-navigation{
  position: absolute;
  top: 6%;
  left: 50%;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.slider-navigation::before{
  content: "";
  position: absolute;
  top: 0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: white;
  transform: translate(-50%, -50%);
}

/* orange blur */
.orange-divider{
  position: absolute;
  top: -3%;
  left: 8%;
}

/* day indicator */
.nav-pointer{
  position: absolute;
  left: 50%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-family: Mona-sans-sb;
  text-transform: uppercase;
  font-size: 1rem;
  transform: translate(-50%, 0%);
}

/* Agenda heading*/
.page3 .page3-heading h2 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: lighter;
  color: white;
  font-family: Mona-sans-md;
}

/* timeline heading */
.page3 .page3-heading h1 {
  margin-top: 1rem;
  font-family: Mona-sans-md;
  font-size: 8rem;
  font-weight: lighter;
  text-align: center;
  background: linear-gradient(180deg, #ffffff 0%, #7f7b7a 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.page3 .timeline {
  width: 75%;
  margin: 0 auto;
  display: flex;
}

/* container for all cards */
.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* container for two cards: Day1 and Day2 */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* individual card */
.idv-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #4a4a4a;
  width: 412px;
  padding: 1.5rem;
  background: url(Assets/Images/noise1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

/* cards on right (odd days card)*/
.right{
  margin-top: 20vh;
  align-self: flex-end;
}

/* cards on left (even days card) */
.left{
  margin-top: 20vh;
  align-self: flex-start;
}

/* card header */
.idv-card .class-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* vs code and github icons */
.idv-card .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.65rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #4a4a4a;
}

.idv-card .icons img {
  height: 1rem;
  cursor: pointer;
}

/* date of conduction of that particular class */
.idv-card .date {
  color: white;
  font-family: Mona-sans-sb;
  font-size: 0.75rem;
}

.card-btn img{
  height: 0.8rem;
}

/* orange shadow from top on hover */
.idv-card::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: -50%;
  height: 30%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(241, 109, 71),
    rgba(241, 109, 71, 0.8),
    rgba(241, 109, 71, 0)
  );
  filter: blur(40px);
  transition: 0.2s ease-in;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.idv-card:hover::before {
  height: 100%;
  top: 0;
  opacity: 0.1;
}

/* white shadow from bottom on hover */
.idv-card::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 30%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  filter: blur(30px);
  transition: 0.2s ease-in;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.idv-card:hover::after {
  height: 100%;
  opacity: 0.1;
}

/* card content: topic of class and basic info */
.card-content{
  color: white;
  width: 100%;
  margin: 1.5rem 0;
  font-family: Mona-sans-sb;
}

.card-content div{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.9rem;
}

.card-content div p{
  color: #919191;
  font-size: 0.85rem;
}

/* container for btns */
.card-btns-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}

/* same class given to both the btns as they have the same styling */
.card-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: 1px solid #4a4a4a;
  border-radius: 0.5rem;
  outline: none;
  color: white;
  padding: 0.5rem 0.75rem;
  font-family: Mona-sans-sb;
  font-size: 0.875rem;
  cursor: pointer;
  z-index: 9;
  overflow: hidden;
  position: relative;
}

.card-btn img{
  height: 0.8rem;
}

/* bottom white shadow on hover */
.card-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  transition: 0.2s ease;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.card-btn:hover::after {
  height: 100%;
  opacity: 0.75;
}