@font-face {
  font-family: Mona-sans-md;Mona-sans-md
  src: url(Utils/Fonts/Mona-Sans-Medium.ttf);
}

@font-face {
  font-family: Mona-sans-sb;
  src: url(Utils/Fonts/Mona-Sans-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: #101010;
}

.main {
  position: relative;
  z-index: 10;
}

/* page1 started */
.page1 {
  height: 115vh;
  position: relative;
  overflow: hidden;
  background: url("./Assets/Images/spots.png"),
    url("./Assets/Images/Noise\ &\ Texture.png"),
    radial-gradient(#3d2f2d 0%, #101010 66%);
  background-position: center;
  background-size: cover;
  animation: zoomEffect 100s linear infinite;
  margin: 0;
  padding: 0;
}

@keyframes zoomEffect {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 120% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

/* header start */
nav {
  z-index: 5;
}
.phoneUpperNav{
  display: flex;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: space-around;
  border: 2px solid red;
  
}
#close-btn{
  display: block;
}
#nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}
#close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
#nav-overlay.active {
  display: flex;
}
.middle{
  position: relative;
  width: 100vw;
  margin: 8.5rem ,0;
  /* background-color: rgba(0, 0, 0, 0.9); */
  /* background-color: black; */
  display: flex;
  border: 2px solid blue;
}
#nav-links li a {
  color: #FFF;
  font-family: "Mona Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 50px */


}
.lowerLinks{
  border: 2px solid yellow;
}
.lowerLinks span {
  display: flex;
  margin-top: 4px;
  align-content: center;
  justify-content: center;
}

.lowerLinks img {
  height: 1rem;
}
#hamburger{
  display: none;
}
header {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  z-index: 3;
}

/* logo */
#sparkLogo {
  border: none;
  background: none;
  cursor: pointer;
}

#sparkLogo img {
  height: 4.5rem;
}

/* notes btn */
.btn-div{
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


#notes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #b2b2b2;
  z-index: 2;
  font-family: Mona-sans-sb;
  font-size: 1rem;
  padding: 1rem 1.1rem;
  border-radius: 0.75rem;
  border: 1px solid #4a4a4a;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(2px);
  overflow: hidden;
}

#notes::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  transition: 0.2s ease;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

#notes:hover::after {
  height: 100%;
  opacity: 0.6;
}

#notes:hover {
  cursor: pointer;
}

#notes p {
  font-size: 1rem;
}

#notes span {
  display: flex;
  margin-top: 4px;
  align-content: center;
  justify-content: center;
}

#notes img {
  height: 1rem;
}

/* nav tabs */
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 2;
  border-radius: 0.75rem;
  border: 1px solid #4a4a4a;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  padding: 1rem 1.5rem;
}

header ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

header ul li a {
  text-decoration: none;
  font-family: Mona-sans-sb;
  font-size: 1rem;
  color: #b2b2b2;
  letter-spacing: 1px;
  z-index: 5;
  font-weight: 400;
  transition: ease-in-out 100ms;
}

header ul li a:hover {
  color: #f16d47;
}
/* header end */

/* main start */
main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 2rem 2rem;
  padding: 2rem;
  animation: breathing 100s ease-in infinite normal;
  box-sizing: border-box;
}
#course {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 95vw;
  z-index: 5;
  align-self: flex-start;
  justify-content: center;
  font-family: sans-serif;
}

.upper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#course ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.25rem;
}
#course .upper ul li::marker,
#course .upper p {
  animation: headingAnimation ease-in 5s infinite alternate;
}

#course .lower ul li::marker,
#course .lower p {
  animation: headingAnimation ease-in 5s infinite alternate;
}

#course .upper span {
  font-size: 14px;
  color: #919191;
}

#course .lower span {
  font-size: 14px;

  color: #919191;
}

@keyframes headingAnimation {
  0% {
    color: white;
  }
  100% {
    color: #f16d47;
  }
}

#upperList {
  gap: 45vw;
  margin-bottom: 8rem;
}

#lowerList {
  gap: 85vw;
}

#course ul span {
  font-family: Mona-sans-sb;
  font-size: 1rem;
  color: #ffffff;
}

#course ul span br {
  font-family: Mona-sans-sb;
  font-size: 0.9rem;
  color: #b4bbb8;
}

/* landing page start */
.landingPageSpark {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  margin-top: 14rem;
  padding: auto;
}

.landingPageSpark h1 {
  font-size: 3.5vw;
  text-align: center;
  word-spacing: 0.7rem;
}

.landingPageSpark p {
  text-align: center;
  font-family: Mona-sans-sb;
  font-size: 1.25rem;
  color: #b2b2b2;
}

/* osswebsite redirect btn */
#oss {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  background-color: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
  color: #b2b2b2;
  outline: none;
  border: 1px solid #b2b2b2;
  z-index: 10;
  font-family: Mona-sans-sb;
  font-size: 1rem;
}

#oss:hover {
  cursor: pointer;
}

.ri-arrow-right-line {
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* heading */
.ossWord {
  font-family: Mona-sans-sb;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background: linear-gradient(180deg, #ffffff 0%, #7f7b7a 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* get started btn */
#getStarted {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #df7841 0%, #894724 100%);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin: 2rem;
  font-family: Mona-sans-sb;
  font-size: 1rem;
  border: none;
  transition: 0.5s;
  z-index: 10;
}

#getStarted:hover {
  cursor: pointer;
  background-position: right center;
}

/* planet bg */
#circularPlanet {
  position: absolute;
  z-index: 1;
  align-self: baseline;
  justify-self: center;
  margin-top: 6rem;
}

#circularPlanet img {
  width: 130vw;
}

/* breatihng animation */
@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  50% {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
/* Responsive Styles */
@media (max-width: 1200px) {
  header ul {
    gap: 2rem;
    padding: 1rem;
  }
  
  .landingPageSpark h1 {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  
  header ul {
    display: none;
    width: 100%;
    gap: 0.5rem;
  }
  #hamburger{
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 1rem 1.1rem;
  }
  #hamburger i{
    color: #ffffff;
    font-size: 1.5rem;
  }
  #notes{
    display: none;
  }
  .landingPageSpark h1 {
    font-size: 2.5rem;
  }
  
  .landingPageSpark p {
    font-size: 1rem;
  }
  
  #oss {
    font-size: 0.875rem;
  }
  
  #getStarted {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
  #upperList {
    gap: 35vw;
    margin-bottom: 5vw;
  }
  
  #lowerList {
    gap: 65vw;
  }
  #circularPlanet {
    position: absolute;
    z-index: 1;
    align-self: baseline;
    justify-self: center;
    margin-top: 15vh;
  }
  
  #circularPlanet img {
    width: 150vh;
  }
}

@media (max-width: 768px) {
  header ul {
    flex-direction: column;
    gap: 1rem;
  }
  
  .landingPageSpark h1 {
    font-size: 2rem;
  }
  
  .landingPageSpark p {
    font-size: 0.875rem;
  }
  
  #oss {
    font-size: 0.75rem;
  }
  
  #getStarted {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
  }
  #upperList {
    gap: 35vw;
    margin-bottom: 5vw;
  }
  
  #lowerList {
    gap: 65vw;
  }
  #circularPlanet {
    position: absolute;
    z-index: 1;
    align-self: baseline;
    justify-self: center;
    margin-top: 15vh;
  }
  
  #circularPlanet img {
    width: 150vh;
  }
}

@media (max-width: 576px) {
  header {
    width:100vw;
    padding: 0 1rem;
  }
  .middle{
    display: flex;
  }
  #nav-links {
    display: flex;
    /* position: relative; */
    /* flex-direction: column; */
    /* width: 100vw;
    gap: 0.5rem; */
    border: 2px solid red;
    /* justify-self: center; */
    /* align-self: center;
    z-index: 1;  */
    
  }
  nav.active {
    display: flex;
}

#hamburger {
  display: block;
}
  #notes{
    display: none;
  }
  .landingPageSpark{
    margin-top: 20rem;
  }
  .landingPageSpark h1 {
    font-size: 1.8rem;
  }
  
  .landingPageSpark p {
    font-size: 0.75rem;
  }
  
  #oss {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
  
  #getStarted {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  #upperList {
    gap: 35vw;
    margin-bottom: 5vw;
  }
  
  #lowerList {
    gap: 55vw;
  }
  #circularPlanet {
    position: absolute;
    z-index: 1;
    align-self: baseline;
    justify-self: center;
    margin-top: 17vh;
  }
  
  #circularPlanet img {
    width: 150vh;
  }
}
/* page1 end */

/* page2 started */
.page2{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #101010;
}

.title2{
  color: white;
  
}
.WhySpark{
  width: 100%;
  background: #101010;
}

.questionHeading {
  font-size: 1rem; /* Adjust size as needed */
  margin: 0; /* Reset margin if needed */
}

.faq1{
  width: 60%;
  border-bottom: 1px solid #919191;
  padding: 48px 0;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  
}
.questionMain1{
  width: 100%;
  color: #919191;
  display: flex;
  align-items: center;
}
.Head1{
  width: 10%;
  font-size: 2.2vw;
}
.question1{
  font-size: 2.2vw;
}

.questionHeading{
  font-size: 2.2vw;
  
}

/* Media Queries */

@media (max-width: 992px) {
  .Head1 {
    font-size: 3vh;
  }

  .question1 {
    font-size: 3vh;
  }

  .questionHeading {
    font-size: 3vh;
  }
}

@media (max-width: 768px) {
  .Head1 {
    font-size: 3vh;
  }

  .question1 {
    font-size: 4vh;
  }

  .questionHeading {
    font-size: 3vh;
  }
}

@media (max-width: 576px) {
  .Head1 {
    font-size: 2vw;
  }

  .question1 {
    font-size: 4vw;
  }

  .questionHeading {
    padding-right: 2vh;
    font-size: 2vw;
  }
}

@media (max-width: 100px) {
  .Head1 {
    font-size: 3vh;
  }

  .question1 {
    font-size: 3vh;
  }

  .questionHeading {
    font-size: 3vh;
    flex-wrap: wrap;
  }
}

/* page2 end */

/* page3 started */
.page3 {
  min-height: 100vh;
  width: 100%;
  background: #101010;
  position: relative;
  overflow: hidden;
}

.page3 .page3-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* complete slider bar */
.slider-navigation{
  position: absolute;
  top: 6%;
  left: 50%;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.slider-navigation::before{
  content: "";
  position: absolute;
  top: 0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: white;
  transform: translate(-50%, -50%);
}

/* orange blur */
.orange-divider{
  position: absolute;
  top: -3%;
  left: 8%;
}

/* day indicator */
.nav-pointer{
  position: absolute;
  left: 50%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-family: Mona-sans-sb;
  text-transform: uppercase;
  font-size: 1rem;
  transform: translate(-50%, 0%);
}

/* Agenda heading*/
.page3 .page3-heading h2 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: lighter;
  color: white;
  font-family: Mona-sans-md;
}

/* timeline heading */
.page3 .page3-heading h1 {
  margin-top: 1rem;
  font-family: Mona-sans-md;
  font-size: 8rem;
  font-weight: lighter;
  text-align: center;
  background: linear-gradient(180deg, #ffffff 0%, #7f7b7a 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.page3 .timeline {
  width: 75%;
  margin: 0 auto;
  display: flex;
}

/* container for all cards */
.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* container for two cards: Day1 and Day2 */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* individual card */
.idv-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #4a4a4a;
  width: 412px;
  padding: 1.5rem;
  background: url(Assets/Images/noise1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

/* cards on right (odd days card)*/
.right{
  margin-top: 20vh;
  align-self: flex-end;
}

/* cards on left (even days card) */
.left{
  margin-top: 20vh;
  align-self: flex-start;
}

/* card header */
.idv-card .class-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* vs code and github icons */
.idv-card .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.65rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #4a4a4a;
}

.idv-card .icons img {
  height: 1rem;
  cursor: pointer;
}

/* date of conduction of that particular class */
.idv-card .date {
  color: white;
  font-family: Mona-sans-sb;
  font-size: 0.75rem;
}

.card-btn img{
  height: 0.8rem;
}

/* orange shadow from top on hover */
.idv-card::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: -50%;
  height: 30%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(241, 109, 71),
    rgba(241, 109, 71, 0.8),
    rgba(241, 109, 71, 0)
  );
  filter: blur(40px);
  transition: 0.2s ease-in;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.idv-card:hover::before {
  height: 100%;
  top: 0;
  opacity: 0.1;
}

/* white shadow from bottom on hover */
.idv-card::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 30%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  filter: blur(30px);
  transition: 0.2s ease-in;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.idv-card:hover::after {
  height: 100%;
  opacity: 0.1;
}

/* card content: topic of class and basic info */
.card-content{
  color: white;
  width: 100%;
  margin: 1.5rem 0;
  font-family: Mona-sans-sb;
}

.card-content div{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.9rem;
}

.card-content div p{
  color: #919191;
  font-size: 0.85rem;
}

/* container for btns */
.card-btns-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}

/* same class given to both the btns as they have the same styling */
.card-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: 1px solid #4a4a4a;
  border-radius: 0.5rem;
  outline: none;
  color: white;
  padding: 0.5rem 0.75rem;
  font-family: Mona-sans-sb;
  font-size: 0.875rem;
  cursor: pointer;
  z-index: 9;
  overflow: hidden;
  position: relative;
}

.card-btn img{
  height: 0.8rem;
}

/* bottom white shadow on hover */
.card-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  transition: 0.2s ease;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.card-btn:hover::after {
  height: 100%;
  opacity: 0.75;
}

/* page 3 ends here */

/* Page 4 starts here */
.events {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 108px;
  position: relative;
  background-color: #101010;
  padding: 20vh 0 ;
}

.events .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(16, 16, 16) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: Mona-sans-md;
  font-weight: 400;
  color: transparent;
  font-size: 10vh; /* Responsive font size based on viewport height */
  min-height: 100px; /* Ensure a minimum font size for smaller screens */
  text-align: center;
  letter-spacing: 0;
  line-height: 1.25em; /* Adjusted line height */
}


.events .div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px; /* Reduced padding for better responsiveness */
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  flex-wrap: wrap; /* Allows wrapping of the cards */
  justify-content: center; /* Centers the cards when wrapped */
}

.events .div-2 {
  display: flex;
  flex-direction: column;
  width: 464px;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
}

.events .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff0d;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #494949;
}

.events .noise-texture {
  position: absolute;
  width: 462px;
  height: 462px;
  top: 0;
  left: 1px;
}

.events .div-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.events .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.64px;
  line-height: 40px;
}

.events .div-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.events .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff1a;
  border-radius: 50px;
}

.events .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17.5px;
  white-space: nowrap;
}

.events .prize-pool-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #226b2740;
  border-radius: 50px;
}

.events .prize-pool {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17.5px;
  white-space: nowrap;
}

.events .span {
  color: #ffffff;
}

.events .text-wrapper-4 {
  color: #33a23b;
}

.events .div-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.events .div-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.events .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17.5px;
}

.events .div-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.events .rectangle {
  position: relative;
  width: 8px;
  height: 50px;
  background-color: #fc6f41;
  border-radius: 2px;
}

.events .rectangle-2 {
  position: relative;
  width: 8px;
  height: 50px;
  background-color: #ffffff33;
  border-radius: 2px;
}

.events .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: #fc6f41;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.events .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.events .p {
  position: relative;
  align-self: stretch;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.events .div-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.div-11 a{
  text-decoration: none;
}

.events .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: #fc6f41;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.ellipse {
  position: absolute;
  width: 490px;
  height: 97px;
  top: 445px;
  left: -13px;
  /* background-color: #fc6f41; */
  border-radius: 245px/48.5px;
  filter: blur(200px);
}

.div-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 2px solid #fc6f41; */
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s; /* Smooth transition for border shine */
}

.div-3:hover::before {
  opacity: 1;
}

.ellipse {
  position: absolute;
  width: 490px;
  height: 97px;
  /* background-color: #fc6f41; */
  border-radius: 245px / 48.5px;
  filter: blur(200px);
  pointer-events: none;
  transition: top 0.3s, left 0.3s; /* Smooth transition for ellipse position */
}

.div-3:hover .ellipse {
  opacity: 1;
}
.events .div-10 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.events .div-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff0d;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #494949;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.events .div-11 a{
  text-decoration: none;
}
.div-11:hover {
  background-color:transparent; /* Background color on hover */
  transform: scale(1.01); /* Slightly scale up on hover */
}
.events .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.events .akar-icons-link-out {
  position: relative;
  width: 20px;
  height: 20px;
}

.events .div-12 {
  display: flex;
  flex-direction: column;
  width: 464px;
  align-items: center;
  gap: 32px;
  position: relative;
}

.events .div-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff0d;
  border-radius: 8px;
  border: 1px solid;
  border-color: #494949;
}

.events .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Mona-sans-sb;
  font-weight: 400;
  color: #767676;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

/* page 4 ends here */

/* page 5 starts here */

.page5 {
  width: 90%;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin: auto;
  /* height: 200vh; Full viewport height to ensure vertical centering */
}

.team {
  text-align: center; /* Centers text within the .team container */
}

.title2 {
  font-size: 1.5rem; /* Adjust font size as needed */
}

.title {
  font-size: 2rem; /* Adjust font size as needed */
}


.Information{
  margin-top: 2vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2.2vh;
  color: white;
}

.position1{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 2.2vh;
}

.Members {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
  gap: 20px; /* Adjust the gap between items as needed */
  margin-top: 30vh;
  justify-content: center; /* Center the grid items horizontally */
  align-items: center; /* Center the grid items vertically */
  grid-auto-rows: minmax(100px, auto); /* Adjust as needed */
}

@media (max-width: 1200px) {
  .Members {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .Members {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .Members {
    grid-template-columns: 1fr; /* 1 column on extra-small screens */
    justify-content: center;
    align-items: center;
  }
}
.member {
  /* font-family: Mona-sans-sb; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.member img {
  width: 100%;
  height: auto;
  filter: grayscale(100%); /* Black and white by default */
  transition: filter 0.3s ease; /* Smooth transition for the hover effect */
}

.member img:hover {
  filter: grayscale(0%); /* Show color on hover */
}


.Informative h3 {
  margin: 5px 0;
}

.position1 {
 font-family:  Belfast-sb;
  margin-top: 10px;
}



/* page 5 ends here */

/* page 6 starts here */
.page6{
  min-height: 100vh;
  background: #101010;
  color: white;
  /* padding-bottom: 1rem; */
}


.section1 {
  font-family: Mona-sans-sb;
  width: 100%;
  margin: 0vh auto;
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size : 8vw;
  background: linear-gradient(to bottom, #ffffff, #101010); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  font-family: Mona-sans-md;
  margin-bottom: 1rem;
}

.title2 {
  font-size: 2vw;
  font-family: Mona-sans-md;
}

.AllQuestions {
  margin-top: 5%;
  width: 100%;
  color: #919191;
}

.faq {
  width: 80%;
  margin: auto;
  flex-direction: column; 
  align-items: center;
  /* margin-top: 2rem; */
  cursor: pointer;
  border-bottom: 2px solid #919191;
  /* padding-bottom: 1rem; */
  padding: 4rem 0;
}

.questionMain {
  width: 100%; 
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between; 
  /* padding-bottom: 20px; */
  font-size: 48px;
}

.questionMain .Head {
  width: 10%; 
  text-align: left; 
}

.questionMain .question {
  width: 80%; 
  text-align: center; 
  /* padding-left: 10%; */
}

.questionMain i {
  width: 10%; 
  text-align: right; 
  font-size: 20px;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease;
}


.Head {
  font-size: 2vw;
  margin: 0;
  transition: transform 1s ease; /* Smooth transition for transform property */
}

.question h3 {
  font-size: 2.1vw;
  margin: 0;
}


.IconTraingle i {
  transition: transform 0.6s ease; /* Smooth transition for transform property */
}

.IconTraingle i.fa-play {
  right: 0;
  font-size: 1.2rem;
  color: #919191;
  display: inline-block;
  transform: rotate(90deg);
  vertical-align: middle;
  /* margin-left: 100px; */
}

i.fa-play {
  font-size: 16px;
  color: #919191;
  transform: rotate(90deg);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer p {
  padding-top: 2.5rem;
  font-size: 16px;
  margin-top: 1rem;
  text-align: left;
  width: 80%;
  margin: auto;
  padding-left: 3.5rem;
  padding-bottom: 20px;
}
.faq {
  color: #919191; /* Default color for text */
}


.faq.active .question h3 {
  color: #ffffff; /* Color when active */
}


.faq.active .Head {
  color: #ffffff; /* Color when active */
  /* transform: translateY(250%); Move downwards */
}


.IconTraingle i {
  transition: transform 0.6s ease;
  
}

.faq.active .IconTraingle i {
  transform: rotate(270deg); /* Rotate icon when active */
  /* transform: translateY(450%); */
  color: white;
 
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out, opacity 1s ease-out;
  opacity: 0;
  padding-bottom: 0; /* Remove extra padding when collapsed */
}

.faq.active .answer {
  max-height: 1000px; /* Ensure this value is large enough to fit the content */
  opacity: 1;
  color: white;
  padding-bottom: 1rem; /* Optional: Add padding when expanded */
}


.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}
/* page 6 ends here */

/* page7 */
.page7{
  min-height: 100vh;
  width: 100%;
}
/* page7 end */

/* footer */
.footer{
  height: 100vh;
  width: 100%;
  background: url("./Assets/Images/spots.png"),
    url("./Assets/Images/Noise\ &\ Texture.png");
  background-position: center;
  background-size: cover;
  z-index: 9;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-top{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
}

.footer-left h4{
  font-family: Mona-sans-md;
  font-size: 1.5rem;
  font-weight: 100;
}

.footer-right{
  display: flex;
  gap: 8vw;
}

.footer-right ul{
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.footer-right .footer-nav li, .links li{
  list-style: none;
  font-family: Mona-sans-md;
  font-size: 1.2rem;
}

.footer-right .footer-nav li a, .links li a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.footer-bottom{
  height: 50vh;
  width: 90%;
}

.email {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 3vw;
}

.email h4{
  font-family: Mona-sans-md;
  font-weight: 100;
  font-size: 1rem;
}

.footer-bottom h1{
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-bottom h1 span{
  font-family: Mona-sans-md;
  display: inline-block;
  font-weight: 100;
  font-size: 22vw;
  line-height: 100%;
  background: linear-gradient(180deg, #FF812A 0%, #E13E00 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}